body
{
    background-color: #8173a1;
    /*overflow: hidden;*/
}

footer, footer a
{
    color: #f8e8ff;
}

footer
{
    min-height: 170px;
    a 
    {
        text-decoration: none;
    }

    a:hover
    {
        text-decoration: solid underline;
    }
}