@property --text_color 
{
    syntax: "<color>";
    inherits: false;
    initial-value: #000000;
}
@property --inheritable_color 
{
    syntax: "<color>";
    inherits: true;
    initial-value: #000000;
}

@property --bg_color1
{
    syntax: "<color>";
    inherits: false;
    initial-value: #ffffff;
}

body
{
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    background-color: #9e8fc0;
}

#content
{
    position: absolute;
    left:0;
    top:0;
    z-index: 2137;
    min-height: 100vh;
    display: grid;
    grid-template-rows:170px auto 150px;
}

iframe 
{
    width: 100vw;
    border: none;
}
main 
{
    display: grid;
    grid-template: 1fr / 1fr 4fr;
}

nav
{
    background-color: #9e8fc0;
    ul{
        list-style-type: none;
        margin: 0;
        padding-left: 0;
    }

    a
    {
        display: block;
        padding: 7.5px 0;
        text-decoration: none;
        transition: 0.2s;
        color:rgb(37, 62, 131);
        padding-left: 10px;
    }

    a:hover
    {
        padding-left: 8px;
        background-color: #fff5;

    }
}

article 
{
    padding: 25px 10px ;
    border-radius: 5px;
    --bg_color1: #cec2e9;
    background-color: var(--bg_color1);
}

div#scare
{
    position:absolute;
    padding: 22px;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    font-size: 100%;
    

    h1,h2,h3,h4,h5,h6 
    {
        background-color: #f005;
    }
    p 
    {
        background-color: #a225;
    }
}

div#scare * 
{
    padding: 15px;
    border-radius: 15px;
}
button.cena
{
    position: absolute;
    bottom: -15px;
    right: -10px;
    
    padding: 5px;
    cursor: pointer;
    background-color: hsl(352, 59%, 54%);
    border: 3px solid hsl(352, 58%, 36%);
    border-radius: 3px;
}

button.cena:hover, button.cena:focus
{
    background-color: hsl(352, 98%, 64%);
    border: 3px solid hsl(352, 53%, 49%);
}

button.cena:active
{
    background-color: hsl(0, 96%, 67%);
    border: 3px solid hsl(0, 69%, 51%);
}

@media screen and (max-width: 662px) 
{
    #content, main 
    {
        display:flex;
        flex-direction: column;
    }
}